<HTML>
    <head>
        <meta charset="UTF-8">
        <script src="js/jquery-3.5.1.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js" integrity="sha512-1bpfZkKJ+WlmJN/I2KLm79dSiuOos0ymwL5IovsUVARyzcaf9rSXsVO2Cdg4qlKNOQXh8fd1d0vKeY9Ru3bQDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <%- include('include/head'); %>
    </head>

    <body>
        <%if(dados.length > 0){%>
            <%for(var i = 0; dados.length > i; i ++){%>
                <div>
                    <h4>Informações pessoais:</h4>
                    <input id="id" name="id" value="<%=dados[i].id%>">
                    <div>
                        <label>Nome:</label>
                        <input id="nome" name="nome" value="<%=dados[i].nome%>"></input>
                    </div>
                    <div>
                        <label>Apelido:</label>
                        <input id="apelido" name="apelido" value="<%=dados[i].apelido%>"></input>
                    </div>
                    <div>
                        <label>CPF:</label>
                        <input id="cpf" name="cpf" value="<%=dados[i].cpf%>"></input>
                    </div>
                    <div>
                        <label>RG:</label>
                        <input id="rg" name="rg" value="<%=dados[i].rg%>"></input>
                    </div>
                    <div>
                        <label>Data de Nascimento:</label>
                        <input id="dt_nascimento" name="dt_nascimento" value="<%=dados[i].dt_nascimento%>"></input>
                                                <!-- para trazer a data tem q ser em dd-mm-YYYY -->
                    </div>
                    <div>
                        <label>Nome pai:</label>
                        <input id="nome_pai" name="nome_pai" value="<%=dados[i].nome_pai%>"></input>
                    </div>
                    <div>
                        <label>Nome mãe:</label>
                        <input id="nome_mae" name="nome_mae" value="<%=dados[i].nome_mae%>"></input>
                    </div>  
                    <div>
                        <label>Naturalidade:</label>
                        <input id="naturalidade" name="naturalidade" value="<%=dados[i].naturalidade%>"></input>
                    </div>
                    <button onclick="salvaPessoais()">Salvar alterações</button>
                </div>
            <%}%>
        <%}%>

        <script>
            function salvaPessoais(){
                var cpf = document.getElementById('cpf').value;
                var rg = document.getElementById('rg').value;
                var dt_nascimento = document.getElementById('dt_nascimento').value;
                var nome_pai = document.getElementById('nome_pai').value;
                var nome_mae = document.getElementById('nome_mae').value;
                var naturalidade = document.getElementById('naturalidade').value;
                var nome = document.getElementById('nome').value;
                var id = document.getElementById('id').value;
                var apelido = document.getElementById('apelido').value;
                $.post('/editaPessoais', {id : id, nome : nome, apelido : apelido, cpf : cpf, rg : rg, dt_nascimento : dt_nascimento, nome_pai : nome_pai, nome_mae : nome_mae, naturalidade : naturalidade});
                alert('Alterações salvas!');
            }
        </script>

        <%if(caracteristicas.length > 0){%>
            <%for(var i = 0; caracteristicas.length > i; i++){%>
                <div>
                    <h4>Caracteristicas:</h4>
                    <div>
                        <label>Estado Cívil:</label>
                        <input id="estado_civil" name="estado_civil" value="<%=caracteristicas[i].estado_civil%>"></input>
                    </div>
                    <div>
                        <label>Cor pele:</label>
                        <input id="cor_pele" name="cor_pele" value="<%=caracteristicas[i].cor_pele%>"></input>
                    </div>
                    <div>   
                        <label>Cor olhos:</label>
                        <input id="cor_olhos" name="cor_olhos" value="<%=caracteristicas[i].cor_olhos%>"></input>
                    </div>
                    <div>
                        <label>Tipo cabelo:</label>
                        <input id="tipo_cabelo" name="tipo_cabelo" value="<%=caracteristicas[i].tipo_cabelo%>"></input>
                    </div>
                    <div>
                        <label> Cor cabelo:</label>
                        <input id="cor_cabelo" name="cor_cabelo" value="<%=caracteristicas[i].cor_cabelo%>"></input>
                    </div>
                    <div>
                        <label>Peso:</label>
                        <input id="peso" name="peso" value="<%=caracteristicas[i].peso%>"></input>
                    </div>
                    <div>
                        <label>Altura:</label>
                        <input id="altura" name="altura" value="<%=caracteristicas[i].altura%>"></input>
                    </div>
                    <button onclick="salvaCaracteristicas();" type="button">Salvar alterações</button>
                </div>
            <%}%>
        <%}%>

        <script>
            function salvaCaracteristicas(){
                var id = document.getElementById('id').value;
                var cor_pele = document.getElementById('cor_pele').value;
                var cor_olhos = document.getElementById('cor_olhos').value;
                var tipo_cabelo = document.getElementById('tipo_cabelo').value;
                var cor_cabelo = document.getElementById('cor_cabelo').value;
                var peso = document.getElementById('peso').value;
                var altura = document.getElementById('altura').value;

                $.post('/editaCaracteristicas', {id : id, cor_pele : cor_pele, cor_olhos : cor_olhos, tipo_cabelo : tipo_cabelo, cor_cabelo : cor_cabelo, peso : peso, altura : altura})
                alert('Alterações salvas!')
            }
        </script>


        <%if(endereco.length > 0){%>
            <%for(var i = 0; endereco.length > i; i++){%>
                <div>
                    <h4>Endereços:</h4>
                    <div>
                        <h4>Endereço 1:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua1" value="<%=endereco[i].rua1%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade1" value="<%=endereco[i].cidade1%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado1" value="<%=endereco[i].estado1%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero1" value="<%=endereco[i].numero1%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento1" value="<%=endereco[i].complemento1%>"></input>
                        </div>
                        <button onclick="editaEndereco1();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaEndereco1(){
                            var id = document.getElementById('id').value;
                            var rua1 = document.getElementById('rua1').value;
                            var cidade1 = document.getElementById('cidade1').value;
                            var estado1 = document.getElementById('estado1').value;
                            var numero1 = document.getElementById('numero1').value;
                            var complemento1 = document.getElementById('complemento1').value;

                            $.post('/editaEndereco1', {id: id, rua1 : rua1, cidade1 : cidade1, estado1 : estado1, numero1 : numero1, complemento1 : complemento1});
                            alert('Alterações salvas!')
                        }
                    </script>



                    <div>
                        <h4>Endereço 2:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua2" value="<%=endereco[i].rua2%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade2" value="<%=endereco[i].cidade2%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado2" value="<%=endereco[i].estado2%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero2" value="<%=endereco[i].numero2%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento2" value="<%=endereco[i].complemento2%>"></input>
                        </div>
                        <button onclick="editaEndereco2();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaEndereco2(){
                            var id = document.getElementById('id').value;
                            var rua2 = document.getElementById('rua2').value;
                            var cidade2 = document.getElementById('cidade2').value;
                            var estado2 = document.getElementById('estado2').value;
                            var numero2 = document.getElementById('numero2').value;
                            var complemento2 = document.getElementById('complemento2').value;

                            $.post('/editaEndereco2', {id : id, rua2 : rua2, cidade2 : cidade2, estado2 : estado2, numero2 : numero2, complemento2 : complemento2});
                            alert('Alterações salvas!')
                        }
                    </script>


                    <div>
                        <h4>Endereço 3:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua3" value="<%=endereco[i].rua3%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade3" value="<%=endereco[i].cidade3%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado3" value="<%=endereco[i].estado3%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero3" value="<%=endereco[i].numero3%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento3" value="<%=endereco[i].complemento3%>"></input>
                        </div>
                        <button onclick="editaEndereco3();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaEndereco3(){
                            var id = document.getElementById('id').value;
                            var rua3 = document.getElementById('rua3').value;
                            var cidade3 = document.getElementById('cidade3').value;
                            var estado3 = document.getElementById('estado3').value;
                            var numero3 = document.getElementById('numero3').value;
                            var complemento3 = document.getElementById('complemento3').value;

                            $.post('/editaEndereco3', {id : id, rua3 : rua3, cidade3 : cidade3, estado3 : estado3, numero3 : numero3, complemento3 : complemento3});
                            alert('Alterações salvas!')
                        }
                    </script>


                    <div>
                        <h4>Endereço 4:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua4" value="<%=endereco[i].rua4%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade4" value="<%=endereco[i].cidade4%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado4" value="<%=endereco[i].estado4%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero4" value="<%=endereco[i].numero4%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento4" value="<%=endereco[i].complemento4%>"></input>
                        </div>
                        <button onclick="editaEndereco4();" type="button">Salvar alterações</button>
                    </div>
                </div>

                <script>
                    function editaEndereco4(){
                        var rua4 = document.getElementById('rua4').value;
                        var cidade4 = document.getElementById('cidade4').value;
                        var estado4= document.getElementById('estado4').value;
                        var numero4= document.getElementById('numero4').value;
                        var complemento4 = document.getElementById('complemento4').value;

                        $.post('/editaEndereco4', {rua4 : rua4, cidade4 : cidade4, estado4 : estado4, numero4 : numero4, complemento4 : complemento4});
                        alert('Alterações salvas!')
                    }
                </script>

            <%}%>
        <%}%>

        <%if(passagem.length > 0){%>
            <%for(var i = 0; passagem.length > i; i++){%>
                <div>
                    <h4>Passagens:</h4>
                    <div>
                        <h4>Passagem 1:</h4>
                        <div>
                            <label>Data:</label>
                            <input id="data1" value="<%=passagem[i].data1%>"></input>
                        </div>
                        <div>
                            <label>Procedimento:</label>
                            <input id="procedimento1" value="<%=passagem[i].procedimento1%>"></input>
                        </div>
                        <div>
                            <label>Artigo:</label>
                            <input id="artigo1" value="<%=passagem[i].artigo1%>"></input>
                        </div>
                        <div>
                            <label>Lei:</label>
                            <input id="lei1" value="<%=passagem[i].lei1%>"></input>
                        </div>
                        <div>
                            <label>Histórico:</label>
                            <input id="historico1" value="<%=passagem[i].historico1%>"></input>
                        </div>
                        <button onclick="editaPassagem1();">Salvar Alterações</button>
                    </div>

                    <script>
                        function editaPassagem1(){
                            var id = document.getElementById('id').value;
                            var data1 = document.getElementById('data1').value;
                            var procedimento1 = document.getElementById('procedimento1').value;
                            var artigo1 = document.getElementById('artigo1').value;
                            var lei1 = document.getElementById('lei1').value;
                            var historico1 = document.getElementById('historico1').value;

                            $.post('/editaPassagem1', {id : id, data1 : data1, procedimento1 : procedimento1, artigo1 : artigo1, lei1 : lei1, historico1 : historico1})
                            alert('Alteraçõe salvas!')
                        }
                    </script>

                    <div>
                        <h4>Passagens:</h4>
                        <div>
                            <h4>Passagem 2:</h4>
                            <div>
                                <label>Data:</label>
                                <input id="data2" value="<%=passagem[i].data2%>"></input>
                            </div>
                            <div>
                                <label>Procedimento:</label>
                                <input id="procedimento2" value="<%=passagem[i].procedimento2%>"></input>
                            </div>
                            <div>
                                <label>Artigo:</label>
                                <input id="artigo2" value="<%=passagem[i].artigo2%>"></input>
                            </div>
                            <div>
                                <label>Lei:</label>
                                <input id="lei2" value="<%=passagem[i].lei2%>"></input>
                            </div>
                            <div>
                                <label>Histórico:</label>
                                <input id="historico2" value="<%=passagem[i].historico2%>"></input>
                            </div>
                            <button onclick="editaPassagem2()" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaPassagem2(){
                            var id = document.getElementById('id').value;
                            var data2 = document.getElementById('data2').value;
                            var procedimento2 = document.getElementById('procedimento2').value;
                            var artigo2 = document.getElementById('artigo2').value;
                            var lei2 = document.getElementById('lei2').value;
                            var historico2 = document.getElementById('historico2').value;

                            $.post('/editaPassagem2', {id : id, data2 : data2, procedimento2 : procedimento2, artigo2 : artigo2, lei2 : lei2, historico2 : historico2})
                            alert('Alteraçõe salvas!')
                        }
                    </script>

                    <div>
                        <h4>Passagem 3:</h4>
                        <div>
                            <label>Data:</label>
                            <input id="data3" value="<%=passagem[i].data3%>"></input>
                        </div>
                        <div>
                            <label>Procedimento:</label>
                            <input id="procedimento3" value="<%=passagem[i].procedimento3%>"></input>
                        </div>
                        <div>
                            <label>Artigo:</label>
                            <input id="artigo3" value="<%=passagem[i].artigo3%>"></input>
                        </div>
                        <div>
                            <label>Lei:</label>
                            <input id="lei3" value="<%=passagem[i].lei3%>"></input>
                        </div>
                        <div>
                            <label>Histórico:</label>
                            <input id="historico3" value="<%=passagem[i].historico3%>"></input>
                        </div>
                        <button onclick="editaPassagem3();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaPassagem3(){
                            var id = document.getElementById('id').value;
                            var data3 = document.getElementById('data3').value;
                            var procedimento3 = document.getElementById('procedimento3').value;
                            var artigo3 = document.getElementById('artigo3').value;
                            var lei3 = document.getElementById('lei3').value;
                            var historico3 = document.getElementById('historico3').value;

                            $.post('/editaPassagem3', {id : id, data3 : data3, procedimento3 : procedimento3, artigo3 : artigo3, lei3 : lei3, historico3 : historico3})
                            alert('Alteraçõe salvas!')
                        }
                    </script>

                    <div>
                        <h4>Passagem 4:</h4>
                        <div>
                            <label>Data:</label>
                            <input id="data4" value="<%=passagem[i].data4%>"></input>
                        </div>
                        <div>
                            <label>Procedimento:</label>
                            <input id="procedimento4" value="<%=passagem[i].procedimento4%>"></input>
                        </div>
                        <div>
                            <label>Artigo:</label>
                            <input id="artigo4" value="<%=passagem[i].artigo4%>"></input>
                        </div>
                        <div>
                            <label>Lei:</label>
                            <input id="lei4" value="<%=passagem[i].lei4%>"></input>
                        </div>
                        <div>
                            <label>Histórico:</label>
                            <input id="historico4" value="<%=passagem[i].historico4%>"></input>
                        </div>
                        <button onclick="editaPassagem4()">Salvar alterações</button>
                    </div>
                </div>
                
                <script>
                    function editaPassagem4(){
                        var id = document.getElementById('id').value;
                        var data4 = document.getElementById('data4').value;
                        var procedimento4 = document.getElementById('procedimento4').value;
                        var artigo4 = document.getElementById('artigo4').value;
                        var lei4 = document.getElementById('lei4').value;
                        var historico4 = document.getElementById('historico4').value;

                        $.post('/editaPassagem4', {id : id, data4 : data4, procedimento4 : procedimento4, artigo4 : artigo4, lei4 : lei4, historico4: historico4})
                        alert('Alteraçõe salvas!')
                    }
                </script>

            <%}%>
        <%}%>

        <%if(tatuagem_local.length > 0){%>
            <%for(var i = 0; tatuagem_local.length > i; i++){%>
                <%for(var x = 0; tatuagem_caracteristicas.length > x; x++){%>
                <div>
                    <h4>Tatuagens:</h4>
                    <label>Rosto:</label>
                    <input id="ckrosto" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckrosto%>"></input>
                    <input id="txtrosto" type="input" class="caracteristicas_tatuagem" value="<%=tatuagem_caracteristicas[x].txtrosto%>">
                </div>

                <div>
                    <label>Costas (Direita):</label>
                    <input id="ckcostas_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckcostas_d%>">
                    <input id="txtcostas_d" type="input" class="caracteristicas_tatuagem" value="<%=tatuagem_caracteristicas[x].txtcostas_d%>">
                </div>

                <div>
                    <label>Peito (Direita):</label>
                    <input id="ckpeito_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckpeito_d%>">
                    <input id="txtpeito_d" type="input" class="caracteristicas_tatuagem" value="<%=tatuagem_caracteristicas[x].txtpeito_d%>">
                </div>

                <div>
                    <label>Barriga (Direita):</label>
                    <input id="ckbarriga_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckbarriga_d%>">
                    <input id="txtbarriga_d" type="input" class="caracteristicas_tatuagem" value="<%=tatuagem_caracteristicas[x].txtbarriga_d%>">
                </div>

                <div>
                    <label>Perna (Direita):</label>
                    <input id="ckperna_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckperna_d%>">
                    <input id="txtperna_d" type="input" value="<%=tatuagem_caracteristicas[x].txtperna_d%>">
                </div>

                <div>
                    <label>Pé (Direita):</label>
                    <input id="ckpe_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckpe_d%>">
                    <input id="txtpe_d" type="input" value="<%=tatuagem_caracteristicas[x].txtpe_d%>">
                </div>

                <div>
                    <label>Braço (Direita):</label>
                    <input id="ckbraco_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckbraco_d%>">
                    <input id="txtbraco_d" type="input" value="<%=tatuagem_caracteristicas[x].txtbraco_d%>">
                </div>

                <div>
                    <label>AnteBraço (Direita):</label>
                    <input id="ckantebraco_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckantebraco_d%>">
                    <input id="txtantebraco_d" type="input" value="<%=tatuagem_caracteristicas[x].txtantebraco_d%>">
                </div>

                <div>
                    <label>Mão (Direita):</label>
                    <input id="ckmao_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckmao_d%>">
                    <input id="txtmao_d" type="input" value="<%=tatuagem_caracteristicas[x].txtmao_d%>">
                </div>

                <div>
                    <label>Pescoço (Direita):</label>
                    <input id="ckpescoco_d" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckpescoco_d%>">
                    <input id="txtpescoco_d" type="input" value="<%=tatuagem_caracteristicas[x].txtpescoco_d%>">
                </div>

                <!-- INICIO ESQUERDDA-->

                <div>
                    <label>Costas (Esquerda):</label>
                    <input id="ckcostas_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckcostas_e%>">
                    <input id="txtcostas_e" type="input" value="<%=tatuagem_caracteristicas[x].txtcostas_e%>">
                </div>

                <div>
                    <label>Peito (Esquerda):</label>
                    <input id="ckpeito_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckpeito_e%>">
                    <input id="txtpeito_e" type="input" value="<%=tatuagem_caracteristicas[x].txtpeito_e%>">
                </div>

                <div>
                    <label>Barriga (Esquerda):</label>
                    <input id="ckbarriga_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckbarriga_e%>">
                    <input id="txtbarriga_e" type="input" value="<%=tatuagem_caracteristicas[x].txtbarriga_e%>">
                </div>

                <div>
                    <label>Perna (Esquerda):</label>
                    <input id="ckperna_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckperna_e%>">
                    <input id="txtperna_e" type="input" value="<%=tatuagem_caracteristicas[x].txtperna_e%>"> 
                </div>

                <div>
                    <label>Pé (Esquerda):</label>
                    <input id="ckpe_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckpe_e%>">
                    <input id="txtpe_e" type="input" value="<%=tatuagem_caracteristicas[x].txtpe_e%>">
                </div>

                <div>
                    <label>Braço (Esquerda):</label>
                    <input id="ckbraco_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckbraco_e%>">
                    <input id="txtbraco_e" type="input" value="<%=tatuagem_caracteristicas[x].txtbraco_e%>">
                </div>

                <div>
                    <label>AnteBraço (Esquerda):</label>
                    <input id="ckantebraco_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckantebraco_e%>">
                    <input id="txtantebraco_e" type="input" value="<%=tatuagem_caracteristicas[x].txtantebraco_e%>">
                </div>

                <div>
                    <label>Mão (Esquerda):</label>
                    <input id="ckmao_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckmao_e%>">
                    <input id="txtmao_e" type="input" value="<%=tatuagem_caracteristicas[x].txtmao_e%>">
                </div>

                <div>
                    <label>Pescoço (Esquerda):</label>
                    <input id="ckpescoco_e" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckpescoco_e%>">
                    <input id="txtpescoco_e" type="input" value="<%=tatuagem_caracteristicas[x].txtpescoco_e%>">
                </div>

                <div>
                    <label>Cicatriz:</label>
                    <input id="ckcicatriz" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckcicatriz%>">
                    <input id="txtcicatriz" type="input" value="<%=tatuagem_caracteristicas[x].txtcicatriz%>">
                </div>

                <div>
                    <label>Deformidade:</label>
                    <input id="ckdeformidade" type="checkbox" class="local_tatuagem" value="<%=tatuagem_local[i].ckdeformidade%>">
                    <input id="txtdeformidade" type="input" value="<%=tatuagem_caracteristicas[x].txtdeformidade%>">
                </div>

                <%}%>
            <%}%>
        <%}%>

        <script>
            $('.local_tatuagem').each(function(e){
                if($(this).val() == 1){
                    $(this).attr("checked", "checked");
                }
            });

            //COSTAS DIREITA
            function costasDireita(){
                var ckcostas_d = document.getElementById('ckcostas_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtcostas_d').setAttribute("disabled","disabled");
                }

                //ckcostas_d.onchange = function() {
                //txtcostas_d.disabled = !this.checked;
            //};
            }

            document.addEventListener('DOMContentLoaded', function() {

                //ROSTO

                var ckcostas_d = document.getElementById('ckrosto');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtrosto').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtrosto').disabled = !this.checked;
                };


                //COSTAS DIREITA

                var ckcostas_d = document.getElementById('ckcostas_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtcostas_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtcostas_d').disabled = !this.checked;
                };

                //PEITO DIREITA

                var ckcostas_d = document.getElementById('ckpeito_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtpeito_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtpeito_d').disabled = !this.checked;
                };

                //BARRIGA DIREITA

                var ckcostas_d = document.getElementById('ckbarriga_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtbarriga_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtbarriga_d').disabled = !this.checked;
                };

                //PERNA DIREITA

                var ckcostas_d = document.getElementById('ckperna_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtperna_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtperna_d').disabled = !this.checked;
                };

                //PÉ DIREITA

                var ckcostas_d = document.getElementById('ckpe_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtpe_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtpe_d').disabled = !this.checked;
                };

                //BRAÇO DIREITA

                var ckcostas_d = document.getElementById('ckbraco_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtbraco_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtbraco_d').disabled = !this.checked;
                };

                //ANTEBRAÇO DIREITA

                var ckcostas_d = document.getElementById('ckantebraco_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtantebraco_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtantebraco_d').disabled = !this.checked;
                };

                //MÃO DIREITA

                var ckcostas_d = document.getElementById('ckmao_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtmao_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtmao_d').disabled = !this.checked;
                };

                //PESCOÇO DIREITA

                var ckcostas_d = document.getElementById('ckpescoco_d');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtpescoco_d').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtpescoco_d').disabled = !this.checked;
                };

                //COSTAS ESQUERDA

                var ckcostas_d = document.getElementById('ckcostas_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtcostas_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtcostas_e').disabled = !this.checked;
                };

                //PEITO ESQUERDA

                var ckcostas_d = document.getElementById('ckpeito_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtpeito_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtpeito_e').disabled = !this.checked;
                };

                //BARRIGA ESQUERDA

                var ckcostas_d = document.getElementById('ckbarriga_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtbarriga_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtbarriga_e').disabled = !this.checked;
                };

                //PERNA ESQUERDA

                var ckcostas_d = document.getElementById('ckperna_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtperna_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtperna_e').disabled = !this.checked;
                };

                //PÉ ESQUERDA

                var ckcostas_d = document.getElementById('ckpe_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtpe_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtpe_e').disabled = !this.checked;
                };

                //BRAÇO ESQUERDA

                var ckcostas_d = document.getElementById('ckbraco_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtbraco_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtbraco_e').disabled = !this.checked;
                };

                //ANTEBRAÇO ESQUERDA

                var ckcostas_d = document.getElementById('ckantebraco_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtantebraco_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtantebraco_e').disabled = !this.checked;
                };

                //MÃO ESQUERDA

                var ckcostas_d = document.getElementById('ckmao_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtmao_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtmao_e').disabled = !this.checked;
                };

                //PESCOÇO ESQUERDA

                var ckcostas_d = document.getElementById('ckpescoco_e');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtpescoco_e').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtpescoco_e').disabled = !this.checked;
                };

                //CICATRIZ

                var ckcostas_d = document.getElementById('ckcicatriz');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtcicatriz').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtcicatriz').disabled = !this.checked;
                };

                //DEFORMIDADE

                var ckcostas_d = document.getElementById('ckdeformidade');
                console.log(ckcostas_d.value);
                if(ckcostas_d.value == 0){
                    var txtcostas_d = document.getElementById('txtdeformidade').setAttribute("disabled","disabled");
                }

                ckcostas_d.onchange = function() {
                document.getElementById('txtdeformidade').disabled = !this.checked;
                };



            }, false)


        </script>

    </body>
</HTML>