<HTML>
    <head>
        <meta charset="UTF-8">
        <a href="/"><input class="" type="button" value="Página Inicial"></a>
        <script src="js/jquery-3.5.1.js"></script>
    </head>

    <body>
        <%if(dados.length > 0){%>
            <%for(var i = 0; dados.length > i; i ++){%>
                <div>
                    <h4>Informações pessoais:</h4>
                    <input id="id" name="id" value="<%=dados[i].id%>">
                    <div>
                        <label>Nome:</label>
                        <input id="nome" name="nome" value="<%=dados[i].nome%>"></input>
                    </div>
                    <div>
                        <label>CPF:</label>
                        <input id="cpf" name="cpf" value="<%=dados[i].cpf%>"></input>
                    </div>
                    <div>
                        <label>RG:</label>
                        <input id="rg" name="rg" value="<%=dados[i].rg%>"></input>
                    </div>
                    <div>
                        <label>Data de Nascimento:</label>
                        <input id="dt_nascimento" name="dt_nascimento" value="<%=dados[i].dt_nascimento%>"></input>
                    </div>
                    <div>
                        <label>Nome pai:</label>
                        <input id="nome_pai" name="nome_pai" value="<%=dados[i].nome_pai%>"></input>
                    </div>
                    <div>
                        <label>Nome mãe:</label>
                        <input id="nome_mae" name="nome_mae" value="<%=dados[i].nome_mãe%>"></input>
                    </div>  
                    <div>
                        <label>Naturalidade:</label>
                        <input id="naturalidade" name="naturalidade" value="<%=dados[i].naturalidade%>"></input>
                    </div>
                    <button onclick="salvaPessoais()">Salvar alterações</button>
                </div>
            <%}%>
        <%}%>

        <script>
            function salvaPessoais(){
                var cpf = document.getElementById('cpf').value;
                var rg = document.getElementById('rg').value;
                var dt_nascimento = document.getElementById('dt_nascimento').value;
                var nome_pai = document.getElementById('nome_pai').value;
                var nome_mae = document.getElementById('nome_mae').value;
                var naturalidade = document.getElementById('naturalidade').value;
                var nome = document.getElementById('nome').value;
                var id = document.getElementById('id').value;
                $.post('/editaPessoais', {id : id, nome : nome});
                alert('Alterações salvas!');
            }
        </script>

        <%if(caracteristicas.length > 0){%>
            <%for(var i = 0; caracteristicas.length > i; i++){%>
                <div>
                    <h4>Caracteristicas:</h4>
                    <div>
                        <label>Estado Cívil:</label>
                        <input id="estado_civil" name="estado_civil" value="<%=caracteristicas[i].estado_civil%>"></input>
                    </div>
                    <div>
                        <label>Cor pele:</label>
                        <input id="cor_pele" name="cor_pele" value="<%=caracteristicas[i].cor_pele%>"></input>
                    </div>
                    <div>   
                        <label>Cor olhos:</label>
                        <input id="cor_olhos" name="cor_olhos" value="<%=caracteristicas[i].cor_olhos%>"></input>
                    </div>
                    <div>
                        <label>Tipo cabelo:</label>
                        <input id="tipo_cabelo" name="tipo_cabelo" value="<%=caracteristicas[i].tipo_cabelo%>"></input>
                    </div>
                    <div>
                        <label> Cor cabelo:</label>
                        <input id="cor_cabelo" name="cor_cabelo" value="<%=caracteristicas[i].cor_cabelo%>"></input>
                    </div>
                    <div>
                        <label>Peso:</label>
                        <input id="peso" name="peso" value="<%=caracteristicas[i].peso%>"></input>
                    </div>
                    <div>
                        <label>Altura:</label>
                        <input id="altura" name="altura" value="<%=caracteristicas[i].altura%>"></input>
                    </div>
                    <button onclick="salvaCaracteristicas();" type="button">Salvar alterações</button>
                </div>
            <%}%>
        <%}%>

        <script>
            function salvaCaracteristicas(){
                var cor_pele = document.getElementById('cor_pele').value;
                var cor_olhos = document.getElementById('cor_olhos').value;
                var tipo_cabelo = document.getElementById('tipo_cabelo').value;
                var cor_cabelo = document.getElementById('cor_cabelo').value;
                var peso = document.getElementById('peso').value;
                var altura = document.getElementById('altura').value;

                $.post('/editaCaracteristicas', {cor_pele : cor_pele, cor_olhos : cor_olhos, tipo_cabelo : tipo_cabelo, cor_cabelo : cor_cabelo, peso : peso, altura : altura})
                alert('Alterações salvas!')
            }
        </script>


        <%if(endereco.length > 0){%>
            <%for(var i = 0; endereco.length > i; i++){%>
                <div>
                    <h4>Endereços:</h4>
                    <div>
                        <h4>Endereço 1:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua1" value="<%=endereco[i].rua1%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade1" value="<%=endereco[i].cidade1%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado1" value="<%=endereco[i].estado1%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero1" value="<%=endereco[i].numero1%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento1" value="<%=endereco[i].complemento1%>"></input>
                        </div>
                        <button onclick="editaEndereco1();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaEndereco1(){
                            var rua1 = document.getElementById('rua1').value;
                            var cidade1 = document.getElementById('cidade1').value;
                            var estado1 = document.getElementById('estado1').value;
                            var numero1 = document.getElementById('numero1').value;
                            var complemento1 = document.getElementById('complemento1').value;

                            $.post('/editaEndereco1', {rua1 : rua1, cidade1 : cidade1, estado1 : estado1, numero1 : numero1, complemento1 : complemento1});
                            alert('Alterações salvas!')
                        }
                    </script>



                    <div>
                        <h4>Endereço 2:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua2" value="<%=endereco[i].rua2%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade2" value="<%=endereco[i].cidade2%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado2" value="<%=endereco[i].estado2%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero2" value="<%=endereco[i].numero2%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento2" value="<%=endereco[i].complemento2%>"></input>
                        </div>
                        <button onclick="editaEndereco2();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaEndereco2(){
                            var rua2 = document.getElementById('rua2').value;
                            var cidade2 = document.getElementById('cidade2').value;
                            var estado2 = document.getElementById('estado2').value;
                            var numero2 = document.getElementById('numero2').value;
                            var complemento2 = document.getElementById('complemento2').value;

                            $.post('/editaEndereco2', {rua2 : rua2, cidade2 : cidade2, estado2 : estado2, numero2 : numero2, complemento2 : complemento2});
                            alert('Alterações salvas!')
                        }
                    </script>


                    <div>
                        <h4>Endereço 3:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua3" value="<%=endereco[i].rua3%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade3" value="<%=endereco[i].cidade3%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado3" value="<%=endereco[i].estado3%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero3" value="<%=endereco[i].numero3%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento3" value="<%=endereco[i].complemento3%>"></input>
                        </div>
                        <button onclick="editaEndereco3();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaEndereco3(){
                            var rua3 = document.getElementById('rua3').value;
                            var cidade3 = document.getElementById('cidade3').value;
                            var estado3 = document.getElementById('estado3').value;
                            var numero3 = document.getElementById('numero3').value;
                            var complemento3 = document.getElementById('complemento3').value;

                            $.post('/editaEndereco3', {rua3 : rua3, cidade3 : cidade3, estado3 : estado3, numero3 : numero3, complemento3 : complemento3});
                            alert('Alterações salvas!')
                        }
                    </script>


                    <div>
                        <h4>Endereço 4:</h4>
                        <div>
                            <label>Rua:</label>
                            <input id="rua4" value="<%=endereco[i].rua4%>"></input>
                        </div>
                        <div>   
                            <label>Cidade:</label>
                            <input id="cidade4" value="<%=endereco[i].cidade4%>"></input>
                        </div>
                        <div>
                            <label>Estado:</label>
                            <input id="estado4" value="<%=endereco[i].estado4%>"></input>
                        </div>
                        <div>
                            <label>Número:</label>
                            <input id="numero4" value="<%=endereco[i].numero4%>"></input>
                        </div>
                        <div>
                            <label>Complemento:</label>
                            <input id="complemento4" value="<%=endereco[i].complemento4%>"></input>
                        </div>
                        <button onclick="editaEndereco4();" type="button">Salvar alterações</button>
                    </div>
                </div>

                <script>
                    function editaEndereco4(){
                        var rua4 = document.getElementById('rua4').value;
                        var cidade4 = document.getElementById('cidade4').value;
                        var estado4= document.getElementById('estado4').value;
                        var numero4= document.getElementById('numero4').value;
                        var complemento4 = document.getElementById('complemento4').value;

                        $.post('/editaEndereco4', {rua4 : rua4, cidade4 : cidade4, estado4 : estado4, numero4 : numero4, complemento4 : complemento4});
                        alert('Alterações salvas!')
                    }
                </script>

            <%}%>
        <%}%>

        <%if(passagem.length > 0){%>
            <%for(var i = 0; passagem.length > i; i++){%>
                <div>
                    <h4>Passagens:</h4>
                    <div>
                        <h4>Passagem 1:</h4>
                        <div>
                            <label>Data:</label>
                            <input id="data1" value="<%=passagem[i].data1%>"></input>
                        </div>
                        <div>
                            <label>Procedimento:</label>
                            <input id="procedimento1" value="<%=passagem[i].procedimento1%>"></input>
                        </div>
                        <div>
                            <label>Artigo:</label>
                            <input id="artigo1" value="<%=passagem[i].artigo1%>"></input>
                        </div>
                        <div>
                            <label>Lei:</label>
                            <input id="lei1" value="<%=passagem[i].lei1%>"></input>
                        </div>
                        <div>
                            <label>Histórico:</label>
                            <input id="historico1" value="<%=passagem[i].historico1%>"></input>
                        </div>
                        <button onclick="editaPassagem1();">Salvar Alterações</button>
                    </div>

                    <script>
                        function editaPassagem1(){
                            var data1 = document.getElementById('data1').value;
                            var procedimento1 = document.getElementById('procedimento1').value;
                            var artigo1 = document.getElementById('artigo1').value;
                            var lei1 = document.getElementById('lei1').value;
                            var historico1 = document.getElementById('historico1').value;

                            $.post('/editaPassagem1', {data1 : data1, procedimento1 : procedimento1, artigo1 : artigo1, lei1 : lei1, historico1 : historico1})
                            alert('Alteraçõe salvas!')
                        }
                    </script>

                    <div>
                        <h4>Passagens:</h4>
                        <div>
                            <h4>Passagem 2:</h4>
                            <div>
                                <label>Data:</label>
                                <input id="data2" value="<%=passagem[i].data2%>"></input>
                            </div>
                            <div>
                                <label>Procedimento:</label>
                                <input id="procedimento2" value="<%=passagem[i].procedimento2%>"></input>
                            </div>
                            <div>
                                <label>Artigo:</label>
                                <input id="artigo2" value="<%=passagem[i].artigo2%>"></input>
                            </div>
                            <div>
                                <label>Lei:</label>
                                <input id="lei2" value="<%=passagem[i].lei2%>"></input>
                            </div>
                            <div>
                                <label>Histórico:</label>
                                <input id="historico2" value="<%=passagem[i].historico2%>"></input>
                            </div>
                            <button onclick="editaPassagem2()" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaPassagem2(){
                            var data2 = document.getElementById('data2').value;
                            var procedimento2 = document.getElementById('procedimento2').value;
                            var artigo2 = document.getElementById('artigo2').value;
                            var lei2 = document.getElementById('lei2').value;
                            var historico2 = document.getElementById('historico2').value;

                            $.post('/editaPassagem2', {data2 : data2, procedimento2 : procedimento2, artigo2 : artigo2, lei2 : lei2, historico2 : historico2})
                            alert('Alteraçõe salvas!')
                        }
                    </script>

                    <div>
                        <h4>Passagem 3:</h4>
                        <div>
                            <label>Data:</label>
                            <input id="data3" value="<%=passagem[i].data3%>"></input>
                        </div>
                        <div>
                            <label>Procedimento:</label>
                            <input id="procedimento3" value="<%=passagem[i].procedimento3%>"></input>
                        </div>
                        <div>
                            <label>Artigo:</label>
                            <input id="artigo3" value="<%=passagem[i].artigo3%>"></input>
                        </div>
                        <div>
                            <label>Lei:</label>
                            <input id="lei3" value="<%=passagem[i].lei3%>"></input>
                        </div>
                        <div>
                            <label>Histórico:</label>
                            <input id="historico3" value="<%=passagem[i].historico3%>"></input>
                        </div>
                        <button onclick="editaPassagem3();" type="button">Salvar alterações</button>
                    </div>

                    <script>
                        function editaPassagem3(){
                            var data3 = document.getElementById('data3').value;
                            var procedimento3 = document.getElementById('procedimento3').value;
                            var artigo3 = document.getElementById('artigo3').value;
                            var lei3 = document.getElementById('lei3').value;
                            var historico3 = document.getElementById('historico3').value;

                            $.post('/editaPassagem3', {data3 : data3, procedimento3 : procedimento3, artigo3 : artigo3, lei3 : lei3, historico3 : historico3})
                            alert('Alteraçõe salvas!')
                        }
                    </script>

                    <div>
                        <h4>Passagem 4:</h4>
                        <div>
                            <label>Data:</label>
                            <input id="data4" value="<%=passagem[i].data4%>"></input>
                        </div>
                        <div>
                            <label>Procedimento:</label>
                            <input id="procedimento4" value="<%=passagem[i].procedimento4%>"></input>
                        </div>
                        <div>
                            <label>Artigo:</label>
                            <input id="artigo4" value="<%=passagem[i].artigo4%>"></input>
                        </div>
                        <div>
                            <label>Lei:</label>
                            <input id="lei4" value="<%=passagem[i].lei4%>"></input>
                        </div>
                        <div>
                            <label>Histórico:</label>
                            <input id="historico4" value="<%=passagem[i].historico4%>"></input>
                        </div>
                        <button onclick="editaPassagem4()">Salvar alterações</button>
                    </div>
                </div>
                
                <script>
                    function editaPassagem4(){
                        var data4 = document.getElementById('data4').value;
                        var procedimento4 = document.getElementById('procedimento4').value;
                        var artigo4 = document.getElementById('artigo4').value;
                        var lei4 = document.getElementById('lei4').value;
                        var historico4 = document.getElementById('historico4').value;

                        $.post('/editaPassagem4', {data4 : data4, procedimento4 : procedimento4, artigo4 : artigo4, lei4 : lei4, historico4: historico4})
                        alert('Alteraçõe salvas!')
                    }
                </script>

            <%}%>
        <%}%>

        <%if(tatuagem_local.length > 0){%>
            <%for(var i = 0; tatuagem_local.length > i; i++){%>
                <div>
                    <h4>Tatuagens:</h4>
                    <input><%=tatuagem_local[i]%></input>
                </div>
            <%}%>
        <%}%>
    </body>
</HTML>