<HTML>
    <head>
        <meta charset="UTF-8">
        <a href="/"><input class="" type="button" value="Página Inicial"></a>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js" integrity="sha512-1bpfZkKJ+WlmJN/I2KLm79dSiuOos0ymwL5IovsUVARyzcaf9rSXsVO2Cdg4qlKNOQXh8fd1d0vKeY9Ru3bQDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="js/jquery-3.5.1.js"></script>

    </head>
    <body>
        <h1>Consulta Suspeitos</h1>


            <form id="formFiltro" action="/consultaPersonalizada?" method="POST">
                <div>
                    <%if(ckrosto === 'on'){%>
                        <input checked class="tatuagem" id="tatuagem" name="ckrosto" value="<%=ckrosto%>" type="checkbox"> <label for="ckrosto">Tatuagem rosto</label>
                    <%}else{%>
                        <input class="tatuagem" id="tatuagem" name="ckrosto" type="checkbox"> <label for="ckrosto">Tatuagem rosto</label>
                    <%}%>
                </div>


                <div>
                    <%if(ckcostas_d === 'on'){%>
                        <input checked class="tatuagem" id="tatuagem" name="ckcostas_d" value="<%=ckcostas_d%>" type="checkbox"> <label for="ckcostas_d">Tatuagem nas costas (Direita)</label>
                    <%}else{%>
                        <input class="tatuagem" id="tatuagem" name="ckcostas_d" value="" type="checkbox"> <label for="ckcostas_d">Tatuagem nas costas (Direita)</label>
                        <%}%>
                </div>

                <div>
                    <%if(ckpeito_d === 'on'){%>
                        <input checked class="tatuagem" id="tatuagem" name="ckpeito_d" value="<%=ckpeito_d%>" type="checkbox"> <label for="ckpeito_d">Tatuagem no peito (Direita)</label>
                    <%}else{%>
                        <input class="tatuagem" id="tatuagem" name="ckpeito_d" value="<%=ckpeito_d%>" type="checkbox"> <label for="ckpeito_d">Tatuagem no peito (Direita)</label>
                        <%}%>                   
                </div>

                <div>
                    <%if(ckbarriga_d === 'on'){%>
                        <input checked class="tatuagem" id="tatuagem" name="ckbarriga_d" value="<%=ckbarriga_d%>" type="checkbox"> <label for="ckbarriga_d">Tatuagem na barriga (Direita)</label>
                    <%}else{%>
                        <input class="tatuagem" id="tatuagem" name="ckbarriga_d" value="<%=ckbarriga_d%>" type="checkbox"> <label for="ckbarriga_d">Tatuagem na barriga (Direita)</label>
                        <%}%>                   
                </div>

            </form>

            <script>
                $(".tatuagem").change(function(){
                if($(this).prop('checked') == true){
                    $("#formFiltro").submit();
                }
                });


                $('input[type="checkbox"]').on('change', function(e){
       
                //var loc = location.href;
                loc = loc.split("?")[0]; // to get the URL till /?s=sunglass
                $('input[type="checkbox"]').each(function(i){
                if(this.checked){
                    loc += "&" + $(this).attr("name") + "=" + $(this).attr("value");
                    }
                });
                //location.href = loc;
                
            });
            </script>


            <div>
                <pre id=result> </pre>
                <input id="ckrosto" name="ckrosto" type="checkbox" value="ckrosto"> <label for="ckrosto">Tatuagem no rosto</label>
                <input id="ckcostas_d" name="ckcostas_d" type="checkbox" value="ckcostas_d"> <label for="ckcostas_d">Tatuagem nas costas (Direita)</label>
                <input id="ckpeito_d" name="ckpeito_d" type="checkbox" value="ckpeito_d"> <label for="ckpeito_d">Tatuagem no peito (Direita)</label>
                <input id="ckbarriga_d" name="ckbarriga_d" type="checkbox" value="ckbarriga_d"> <label for="ckbarriga_d">Tatuagem na barriga (Direita)</label>
                <input id="ckperna_d" name="ckperna_d" type="checkbox" value="ckperna_d"> <label for="ckperna_d">Tatuagem perna (Direita)</label>
                <input id="ckpe_d" name="ckpe_d" type="checkbox" value="ckpe_d"> <label for="ckpe_d">Tatuagem pé (Direita)</label>
                <input id="ckbraco_d" name="ckbraco_d" type="checkbox" value="ckbraco_d"> <label for="ckbraço_d">Tatuagem braço (Direita)</label>
                <input id="ckantebraco_d" name="ckantebraco_d" type="checkbox" value="ckantebraco_d"> <label for="ckantebraco_d">Tatuagem antebraço (Direita)</label>
                <input id="ckmao_d" name="ckmao_d" type="checkbox" value="ckmao_d"> <label for="ckmao_d">Tatuagem Mão (Direita)</label>
                <input id="ckpescoco_d" name="ckpescoco_d" type="checkbox" value="ckpescoco_d"> <label for="ckpescoco_d">Tatuagem Pescoço (Direita)</label>
            </div>

            <div>
                <pre id=result> </pre>
                <input id="ckcostas_e" name="ckcostas_e" type="checkbox" value="ckcostas_e"> <label for="ckcostas_e">Tatuagem nas costas (Esquerda)</label>
                <input id="ckpeito_e" name="ckpeito_e" type="checkbox" value="ckpeito_e"> <label for="ckpeito_e">Tatuagem no peito (Esquerda)</label>
                <input id="ckbarriga_e" name="ckbarriga_e" type="checkbox" value="ckbarriga_e"> <label for="ckbarriga_e">Tatuagem na barriga (Esquerda)</label>
                <input id="ckperna_e" name="ckperna_e" type="checkbox" value="ckperna_e"> <label for="ckperna_e">Tatuagem perna (Esquerda)</label>
                <input id="ckpe_e" name="ckpe_e" type="checkbox" value="ckpe_e"> <label for="ckpe_e">Tatuagem pé (Esquerda)</label>
                <input id="ckbraco_e" name="ckbraco_e" type="checkbox" value="ckbraco_e"> <label for="ckbraço_e">Tatuagem braço (Esquerda)</label>
                <input id="ckantebraco_e" name="ckantebraco_e" type="checkbox" value="ckantebraco_e"> <label for="ckantebraco_e">Tatuagem antebraço (Esquerda)</label>
                <input id="ckmao_e" name="ckmao_e" type="checkbox" value="ckmao_e"> <label for="ckmao_e">Tatuagem Mão (Esquerda)</label>
                <input id="ckpescoco_e" name="ckpescoco_e" type="checkbox" value="ckpescoco_e"> <label for="ckpescoco_e">Tatuagem Pescoço (Esquerda)</label>
            </div>

            <form action="/consultaPersonalizada?local_tatuagem=" method="POST">
                <div>
                    <label for="local_tatuagem">Selecione o local da tatuagem:</label>

                    <select name="local_tatuagem" id="local_tatuagem">
                        <option name="txtrosto" value="txtrosto">Rosto</option>
                        <option name="txtcostas_d" value="txtcostas_d">Costas (Direita)</option>
                        <option name="txtpeito_d" value="txtpeito_d">Peito (Direita)</option>
                        <option name="txtbarriga_d" value="txtbarriga_d">Barriga (Direita)</option>
                        <option name="txtperna_d" value="txtperna_d">Perna (Direita)</option>
                        <option name="txtpe_d" value="txtpe_d">Pé (Direita)</option>
                        <option name="txtbraco_d" value="txtbraco_d">Braço (Direita)</option>
                        <option name="txtantebraco_d" value="txtantebraco_d">Antebraço (Direita)</option>
                        <option name="txtmao_d" value="txtmao_d">Mão (Direita)</option>
                        <option name="txtpescoco_e" value="txtpescoco_e">Pescoço (Direita)</option>
                        <option name="txtcostas_e" value="txtcostas_e">Costas (Esquerda)</option>
                        <option name="txtpeito_e" value="txtpeito_e">Peito (Esquerda)</option>
                        <option name="txtbarriga_e" value="txtbarriga_e">Barriga (Esquerda)</option>
                        <option name="txtperna_e" value="txtperna_e">Perna (Esquerda)</option>
                        <option name="txtpe_e" value="txtpe_e">Pé (Esquerda)</option>
                        <option name="txtbraco_e" value="txtbraco_e">Braço (Esquerda)</option>
                        <option name="txtantebraco_e" value="txtantebraco_e">Antebraço (Esquerda)</option>
                        <option name="txtmao_e" value="txtmao_e">Mão (Esquerda)</option>
                        <option name="txtpescoco_e" value="txtpescoco_e">Pescoço (Esquerda)</option>
                    </select>
                    <input required id="descricaoTatuagem" name="descricaoTatuagem" placeholder="descrição tatuagem" type="text" value="<%descricaoTatuagem%>">
                    <button>Buscar</button>
                </div>
            </form>

        <%for(var i = 0; suspeito.length > i; i++){%>
            <%if(suspeito[i].ckrosto == 1){%>

                <script>
                    /*
                    var ckrosto = 'ckrosto';
                    var tatuagem = [];
                    var tatuagem = tatuagem.push.ckrosto;
                    console.log(ckrosto)
                    var id = 'suspeito_' +suspeito[i].id;
                    console.log(id);
                    document.getElementsByClassName('suspeito');
                    */
                </script>
            <%}%>
        <%}%>

        <%if(suspeito.length > 0){%>
            <%for(var i = 0; suspeito.length > i; i++){%>

                <div class="suspeito" data-category="<%if(suspeito[i].ckrosto == 1){%>ckrosto<%}%> <%if(suspeito[i].ckcostas_d == 1){%>ckcostas_d<%}%> <%if(suspeito[i].ckbarriga_d == 1){%>ckbarriga_d<%}%> <%if(suspeito[i].ckperna_d == 1){%>ckperna_d<%}%> <%if(suspeito[i].ckpe_d == 1){%>ckpe_d<%}%> <%if(suspeito[i].ckbraco_d == 1){%>ckbraco_d<%}%> <%if(suspeito[i].ckantebraco_d == 1){%>ckantebraco_d<%}%> <%if(suspeito[i].ckmao_d == 1){%>ckmao_d<%}%> <%if(suspeito[i].ckpescoco_d == 1){%>ckpescoco_d<%}%> <%if(suspeito[i].ckcostas_e == 1){%>ckcostas_e<%}%> <%if(suspeito[i].ckbarriga_e == 1){%>ckbarriga_e<%}%> <%if(suspeito[i].ckperna_e == 1){%>ckperna_e<%}%> <%if(suspeito[i].ckpe_e == 1){%>ckpe_e<%}%> <%if(suspeito[i].ckbraco_e == 1){%>ckbraco_e<%}%> <%if(suspeito[i].ckantebraco_e == 1){%>ckantebraco_e<%}%> <%if(suspeito[i].ckmao_e == 1){%>ckmao_e<%}%> <%if(suspeito[i].ckpescoco_e == 1){%>ckpescoco_e<%}%>" 
                    id="suspeito_"<%=suspeito[i].id%>>
                    <form id=<%="edita"+suspeito[i].id%> action=<%="/edita?id="+suspeito[i].id%> method="POST">
                        <label id="nome_"<%=suspeito[i].nome%>><%=suspeito[i].nome%></label>
                        <label id="cpf"<%=suspeito[i].cpf%>><%=suspeito[i].cpf%></label>
                        <button form=<%="edita"+suspeito[i].id%> type="submit">Visualizar Cadastro</button>
                    </form>
                </div>
            <%}%>
        <%}%>



        <script>
            function visualizaSuspeito(){
               var div = document.getElementsByTagName('div');
               for(var i = 0; div.length > i; i++){
                   div[i].style.display = "none";
               }

            }
        </script>


        <script>
            /*
            var $filterCheckboxes = $('input[type="checkbox"]');

            $filterCheckboxes.on('change', function() {

            var selectedFilters = {};

            $filterCheckboxes.filter(':checked').each(function() {

                if (!selectedFilters.hasOwnProperty(this.name)) {
                selectedFilters[this.name] = [];
                }

                selectedFilters[this.name].push(this.value);

                console.log(selectedFilters);

            });

            // create a collection containing all of the filterable elements
            var $filteredResults = $('.suspeito');

            // loop over the selected filter name -> (array) values pairs
            $.each(selectedFilters, function(name, filterValues) {

                // filter each .flower element
                $filteredResults = $filteredResults.filter(function() {

                var matched = false,
                    currentFilterValues = $(this).data('category').split(' ');
                    console.log(currentFilterValues);

                // loop over each category value in the current .flower's data-category
                $.each(currentFilterValues, function(_, currentFilterValue) {

                    // if the current category exists in the selected filters array
                    // set matched to true, and stop looping. as we're ORing in each
                    // set of filters, we only need to match once

                    if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                    }
                });

                // if matched is true the current .flower element is returned
                return matched;

                });
            });

            $('.suspeito').hide().filter($filteredResults).show();

            });
            */
        </script>

        <script>
            /*
            $('.local_tatuagem').each(function(e){
                if($(this).val() == 'on'){
                    $(this).attr("checked", "checked");
                    }
                });
                */
        </script>

    </body>
</HTML>