<HTML>
    <head>
        <meta charset="UTF-8">
        <a href="/"><input class="" type="button" value="Página Inicial"></a>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js" integrity="sha512-1bpfZkKJ+WlmJN/I2KLm79dSiuOos0ymwL5IovsUVARyzcaf9rSXsVO2Cdg4qlKNOQXh8fd1d0vKeY9Ru3bQDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="js/jquery-3.5.1.js"></script>

    </head>
    <body>
        <h1>Consulta Suspeitos</h1>


              <label style="font-size:12px;">
                <input type="checkbox" name="fl-colour" value="red" id="red" /> Red</label>
              <br>

        <form action="/consultaPersonalizada" method="POST">
            <div>
                <pre id=result> </pre>
                <input id="nome" name="nome" placeholder="nome">
                <input id="ckrosto" name="ckrosto" type="checkbox" value="ckrosto"> <label for="ckrosto">Tatuagem no rosto</label>
                <input id="ckcostas_d" name="ckcostas_d" type="checkbox" value="ckcostas_d"> <label for="ckcostas_d">Tatuagem nas costas (Direita)</label>
                <input id="ckpeito_d" name="ckpeito_d" type="checkbox" value="ckpeito_d"> <label for="ckpeito_d">Tatuagem no peito (Direita)</label>
                <input id="ckbarriga_d" name="ckbarriga_d" type="checkbox" value="ckbarriga_d"> <label for="ckbarriga_d">Tatuagem na barriga (Direita)</label>
                <input id="ckperna_d" name="ckperna_d" type="checkbox" value="ckperna_d"> <label for="ckperna_d">Tatuagem perna (Direita)</label>

                <div>
                    <button type="submit">Buscar</button>
                </div>

            </div>
        </form>


        <%for(var i = 0; suspeito.length > i; i++){%>
            <%if(suspeito[i].ckrosto == 1){%>

                <script>
                    /*
                    var ckrosto = 'ckrosto';
                    var tatuagem = [];
                    var tatuagem = tatuagem.push.ckrosto;
                    console.log(ckrosto)
                    var id = 'suspeito_' +suspeito[i].id;
                    console.log(id);
                    document.getElementsByClassName('suspeito');
                    */
                </script>
            <%}%>
        <%}%>

        <%if(suspeito.length > 0){%>
            <%for(var i = 0; suspeito.length > i; i++){%>
                <div class="suspeito" data-category="<%if(suspeito[i].ckrosto == 1){%>ckrosto<%}%> <%if(suspeito[i].ckcostas_d == 1){%>ckcostas_d<%}%>                
                    teste" 
                    id="suspeito_"<%=suspeito[i].id%>>
                    <form id=<%="edita"+suspeito[i].id%> action=<%="/edita?id="+suspeito[i].id%> method="POST">
                        <label id="nome_"<%=suspeito[i].nome%>><%=suspeito[i].nome%></label>
                        <label id="cpf"<%=suspeito[i].cpf%>><%=suspeito[i].cpf%></label>
                        <%if(suspeito[i].ckrosto == 1){%>
                            <label class="valorTatuagem" type="hidden" data-category="ckrosto"><%=suspeito[i].ckrosto%></label>
                        <%}%>

                        <%if(suspeito[i].ckcostas_d == 1){%>
                            <label class="valorTatuagem" type="hidden" data-category="ckcostas_d"><%=suspeito[i].ckcostas_d%></label>
                        <%}%>

                        <button form=<%="edita"+suspeito[i].id%> type="submit">Visualizar Cadastro</button>
                    </form>
                </div>
            <%}%>
        <%}%>



        <script>
            function visualizaSuspeito(){
               var div = document.getElementsByTagName('div');
               for(var i = 0; div.length > i; i++){
                   div[i].style.display = "none";
               }

            }
        </script>

        <script>
            var $filterCheckboxes = $('input[type="checkbox"]');

            $filterCheckboxes.on('change', function() {

            var selectedFilters = {};

            $filterCheckboxes.filter(':checked').each(function() {

                if (!selectedFilters.hasOwnProperty(this.name)) {
                selectedFilters[this.name] = [];
                }

                selectedFilters[this.name].push(this.value);

                console.log(selectedFilters);

            });

            // create a collection containing all of the filterable elements
            var $filteredResults = $('.suspeito');

            // loop over the selected filter name -> (array) values pairs
            $.each(selectedFilters, function(name, filterValues) {

                // filter each .flower element
                $filteredResults = $filteredResults.filter(function() {

                var matched = false,
                    currentFilterValues = $(this).data('category').split(' ');
                    console.log(currentFilterValues);

                // loop over each category value in the current .flower's data-category
                $.each(currentFilterValues, function(_, currentFilterValue) {

                    // if the current category exists in the selected filters array
                    // set matched to true, and stop looping. as we're ORing in each
                    // set of filters, we only need to match once

                    if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                    }
                });

                // if matched is true the current .flower element is returned
                return matched;

                });
            });

            $('.suspeito').hide().filter($filteredResults).show();

            });
        </script>
    </body>
</HTML>