<%- include('include/head'); %>
<HTML>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js" integrity="sha512-1bpfZkKJ+WlmJN/I2KLm79dSiuOos0ymwL5IovsUVARyzcaf9rSXsVO2Cdg4qlKNOQXh8fd1d0vKeY9Ru3bQDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="js/jquery-3.5.1.js"></script>
        <link rel="stylesheet" href="css/style.css">


    </head>
    <body>
        <h1>Consulta Suspeitos</h1>

              <br>
            <form action="/consultaPersonalizada" method="POST">
                <div id="divMeioFiltro">
                    <div>
                        <label for="local_tatuagem">Selecione o local da tatuagem:</label>
    
                        <select name="local_tatuagem" id="local_tatuagem">
                            <option name="selecione" value="nenhum">Selecione</option>
                            <option name="txtrosto" value="txtrosto">Rosto</option>
                            <option name="txtcostas_d" value="txtcostas_d">Costas (Direita)</option>
                            <option name="txtpeito_d" value="txtpeito_d">Peito (Direita)</option>
                            <option name="txtbarriga_d" value="txtbarriga_d">Barriga (Direita)</option>
                            <option name="txtperna_d" value="txtperna_d">Perna (Direita)</option>
                            <option name="txtpe_d" value="txtpe_d">Pé (Direita)</option>
                            <option name="txtbraco_d" value="txtbraco_d">Braço (Direita)</option>
                            <option name="txtantebraco_d" value="txtantebraco_d">Antebraço (Direita)</option>
                            <option name="txtmao_d" value="txtmao_d">Mão (Direita)</option>
                            <option name="txtpescoco_e" value="txtpescoco_e">Pescoço (Direita)</option>
                            <option name="txtcostas_e" value="txtcostas_e">Costas (Esquerda)</option>
                            <option name="txtpeito_e" value="txtpeito_e">Peito (Esquerda)</option>
                            <option name="txtbarriga_e" value="txtbarriga_e">Barriga (Esquerda)</option>
                            <option name="txtperna_e" value="txtperna_e">Perna (Esquerda)</option>
                            <option name="txtpe_e" value="txtpe_e">Pé (Esquerda)</option>
                            <option name="txtbraco_e" value="txtbraco_e">Braço (Esquerda)</option>
                            <option name="txtantebraco_e" value="txtantebraco_e">Antebraço (Esquerda)</option>
                            <option name="txtmao_e" value="txtmao_e">Mão (Esquerda)</option>
                            <option name="txtpescoco_e" value="txtpescoco_e">Pescoço (Esquerda)</option>
                        </select>
                        <input id="descricaoTatuagem" name="descricaoTatuagem" placeholder="descrição tatuagem" type="text">
                        
                    </div>
                    <div class="form-row">
                        <div >
                            <div >
                                <label for="idade">Idade:</label>
                            </div>
                            <select name="idade">
                                <option value="nenhum">Selecione</option>
                                <option value="15-20">15-20</option>
                                <option value="20-25">20-25</option>
                                <option value="25-30">25-30</option>
                                <option value="30-35">30-35</option>
                                <option value="35-40">35-40</option>
                                <option value="40-45">40-45</option>
                                <option value="45-50">45-50</option>
                                <option value="50-55">50-55</option>
                                <option value="55-60">55-60</option>
                            </select>
                        </div>
    
                        <div >
                            <div >
                                <label for="altura">Altura:</label>
                            </div>
                            <select name="altura">
                                <option value="nenhum">Selecione</option>
                                <option value="150-155">150-155</option>
                                <option value="155-160">155-160</option>
                                <option value="160-165">160-165</option>
                                <option value="165-170">165-170</option>
                                <option value="170-175">170-175</option>
                                <option value="175-180">175-180</option>
                                <option value="180-185">180-185</option>
                                <option value="185-190">185-190</option>
                            </select>
                        </div>
    
                        <div >
                            <div >
                                <label for="cor_pele">Cor Pele:</label>
                            </div>
                            <select name="cor_pele">
                                <option value="nenhum">Selecione</option>
                                <option value="Amarelo">Amarelo</option>
                                <option value="Branco">Branco</option>
                                <option value="Pardo">Pardo</option>
                                <option value="Negro">Negro</option>
                                <option value="Vermelho">Vermelho</option>
                            </select>
                        </div>
    
                        <div >
                            <div >
                                <label for="cor_olhos">Cor Olhos:</label>
                            </div>
                            <select name="cor_olhos">
                                <option value="nenhum">Selecione</option>
                                <option value="Azul">Azul</option>
                                <option value="Verde">Verde</option>
                                <option value="Castanho">Castanho</option>
                                <option value="Preto">Preto</option>
                            </select>
                        </div>
    
                        <div >
                            <div >
                                <label for="tipo_cabelo">Tipo Cabelo:</label>
                            </div>
                            <select name="tipo_cabelo">
                                <option value="nenhum">Selecione</option>
                                <option value="Calvo">Calvo</option>
                                <option value="Ondulado">Ondulado</option>
                                <option value="Encaracolado">Encaracolado</option>
                                <option value="Liso">Liso</option>
                                <option value="Carapinha">Carapinha</option>
                            </select>
                        </div>
    
                        <div >
                            <div >
                                <label for="cor_cabelo">Cor Cabelo:</label>
                            </div>
                            <select name="cor_cabelo">
                                <option value="nenhum">Selecione</option>
                                <option value="Ruivo">Ruivo</option>
                                <option value="Loiro">Loiro</option>
                                <option value="Castanho">Castanho</option>
                                <option value="Preto">Preto</option>
                                <option value="Grisalho">Grisalho</option>
                            </select>
                        </div>
                    </div>
                    <button>Buscar</button>
                </div>
                

            </form>
            
        <%if(suspeito.length > 0){%>
            <%console.log(suspeito.length)%>
            <%for(var i = 0; suspeito.length > i; i++){%>
                <div id="DivMeioConsulta" class="suspeito"  
                    id="suspeito_"<%=suspeito[i].id%>>
                    <form id=<%="pdf"+suspeito[i].id%> action=<%="/gerarpdf?id="+suspeito[i].id%> method="POST"></form>


                        <ul id="modal_users" class="container-fluid list-group-flush" style="width: 100%; padding-left: 16px;">
                            <div class="modal fade" id="modal_<%=suspeito[i].id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id=<%="deleta"+suspeito[i].id%> action=<%="/deleta?id="+suspeito[i].id%> method="POST">
                                                <div class="form-group">
                                                    <div class="alert alert-danger" role="alert">
                                                        Remover usuário  <%=suspeito[i].nome%> ?
                                                    </div>
                                                    <p style="color: red; font-size: medium; font-style: bold;"> OBS: ESSA AÇÃO É IRREVERSÍVEL.</p>                                     
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                            <button form=<%="deleta"+suspeito[i].id%> class="btn btn-primary button-generic" name="id_user" value="<%=suspeito[i].id%>" class="btn btn-primary">Remover</button>
                                    </div>
                               </div>
                            </div>
                        </ul>


                    <form id=<%="edita"+suspeito[i].id%> action=<%="/edita?id="+suspeito[i].id%> method="POST"></form>
 
                                        
                    <div id="divPrincipal">

                        <div id="divImagem">
                            <img style="width: 160px; height: 160px;" src=<%="images/"+suspeito[i].foto_principal+'.png'%>>
                        </div>
                        
                        <div id="divCadastro">
                            <label id="nome_"<%=suspeito[i].nome%>>Nome:  <%=suspeito[i].nome%></label>
                        </div>

                        <div id="divCadastro">
                            <label id="cpf"<%=suspeito[i].cpf%>>CPF:  <%=suspeito[i].cpf%></label>
                        </div>

                        <div id="divCadastro">
                            <label id="dt_nascimento"<%=suspeito[i].cpf%>>DATA NASCIMENTO: <%=suspeito[i].dt_nascimento%></label>
                        </div>

                        <div id="divCadastro">
                            <label id="cpf"<%=suspeito[i].apelido%>>APELIDO:  <%=suspeito[i].apelido%></label>
                        </div>


                        <div id="divButtonsPrincipal">
                            <div id="divButtons">
                                <button class="button-pdf" form=<%="pdf"+suspeito[i].id%>></button>
                            </div>
    
                            <div id="divButtons">
                                <button class="button-pencil" form=<%="edita"+suspeito[i].id%> type="submit"></button>
                            </div>
    
                            <div id="divButtons">
                                <button class="button-trash" data-toggle="modal" data-target="#modal_<%=suspeito[i].id%>"></button>
                            </div>
                        </div>

                    </div>             
  
                    
                </div>
            <%}%>
        <%}%>

        <script>
            function gerarPDF(){
                $.post()
            }
        </script>
    </body>
</HTML>