<%- include('include/head'); %>
<HTML>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js" integrity="sha512-1bpfZkKJ+WlmJN/I2KLm79dSiuOos0ymwL5IovsUVARyzcaf9rSXsVO2Cdg4qlKNOQXh8fd1d0vKeY9Ru3bQDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="js/jquery-3.5.1.js"></script>
        <link rel="stylesheet" href="css/style.css">


    </head>
    <body>
        <h1>Consulta Suspeitos</h1>
                    <%console.log('o params é' , params)%>
                    <%console.log(Object.keys(params).length)%>

                            <div id="divA">
                                <div>
                                    <input value="off" class="" id="ckrosto" name="ckrosto" type="checkbox"> <label for="ckrosto">Tatuagem rosto</label>
                                </div>
                                <div>   
                                    <input value="off" class="" id="ckcostas_d" name="ckcostas_d" type="checkbox"> <label for="ckcostas_d">Tatuagem nas costas (Direita)</label>
                                </div>
                                <div>    
                                    <input value="off" class="" id="ckpeito_d" name="ckpeito_d" type="checkbox"> <label for="ckpeito_d">Tatuagem no peito (Direita)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckbarriga_d" name="ckbarriga_d" type="checkbox"> <label for="ckbarriga_d">Tatuagem na barriga (Direita)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckperna_d" name="ckperna_d" type="checkbox"> <label for="ckperna_d">Tatuagem perna (Direita)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckpe_d" name="ckpe_d" type="checkbox"> <label for="ckpe_d">Tatuagem pé (Direita)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckbraco_d" name="ckbraco_d" type="checkbox"> <label for="ckbraço_d">Tatuagem braço (Direita)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckantebraco_d" name="ckantebraco_d" type="checkbox"> <label for="ckantebraco_d">Tatuagem antebraço (Direita)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckmao_d" name="ckmao_d" type="checkbox"> <label for="ckmao_d">Tatuagem Mão (Direita)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckpescoco_d" name="ckpescoco_d" type="checkbox"> <label for="ckpescoco_d">Tatuagem Pescoço (Direita)</label>
                                </div>

                                </div>

                                <div id="divLateral">
                                <div>
                                    <input value="off" class="" id="ckcostas_e" name="ckcostas_e" type="checkbox"> <label for="ckcostas_e">Tatuagem nas costas (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckpeito_e" name="ckpeito_e" type="checkbox"> <label for="ckpeito_e">Tatuagem no peito (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckbarriga_e" name="ckbarriga_e" type="checkbox"> <label for="ckbarriga_e">Tatuagem na barriga (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckperna_e" name="ckperna_e" type="checkbox"> <label for="ckperna_e">Tatuagem perna (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckpe_e" name="ckpe_e" type="checkbox"> <label for="ckpe_e">Tatuagem pé (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckbraco_e" name="ckbraco_e" type="checkbox"> <label for="ckbraço_e">Tatuagem braço (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckantebraco_e" name="ckantebraco_e" type="checkbox"> <label for="ckantebraco_e">Tatuagem antebraço (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckmao_e" name="ckmao_e" type="checkbox"> <label for="ckmao_e">Tatuagem Mão (Esquerda)</label>
                                </div>
                                <div>
                                    <input value="off" class="" id="ckpescoco_e" name="ckpescoco_e" type="checkbox"> <label for="ckpescoco_e">Tatuagem Pescoço (Esquerda)</label>
                                </div>
                            </div>



                                <script>

                                    //DIREITA

                                    function ckrostoChecked(){
                                        var ckrosto = document.getElementById("ckrosto");
                                        ckrosto.setAttribute('value','on');
                                        ckrosto.setAttribute('checked','checked');
                                    }


                                    function ckcostas_dChecked(){
                                        var ckcostas_d = document.getElementById("ckcostas_d");
                                        ckcostas_d.setAttribute('value','on');
                                        ckcostas_d.setAttribute('checked','checked');
                                    }

                                    function ckpeito_dChecked(){
                                        var ckpeito_d = document.getElementById("ckpeito_d");
                                        ckpeito_d.setAttribute('value','on');
                                        ckpeito_d.setAttribute('checked','checked');
                                    }

                                    function ckbarriga_dChecked(){
                                        var ckbarriga_d = document.getElementById("ckbarriga_d");
                                        ckbarriga_d.setAttribute('value','on');
                                        ckbarriga_d.setAttribute('checked','checked');
                                    }

                                    function ckperna_dChecked(){
                                        var ckperna_d = document.getElementById("ckperna_d");
                                        ckperna_d.setAttribute('value','on');
                                        ckperna_d.setAttribute('checked','checked');
                                    }

                                    function ckpe_dChecked(){
                                        var ckpe_d = document.getElementById("ckpe_d");
                                        ckpe_d.setAttribute('value','on');
                                        ckpe_d.setAttribute('checked','checked');
                                    }

                                    function ckbraco_dChecked(){
                                        var ckbraco_d = document.getElementById("ckbraco_d");
                                        ckbraco_d.setAttribute('value','on');
                                        ckbraco_d.setAttribute('checked','checked');
                                    }

                                    function ckantebraco_dChecked(){
                                        var ckantebraco_d = document.getElementById("ckantebraco_d");
                                        ckantebraco_d.setAttribute('value','on');
                                        ckantebraco_d.setAttribute('checked','checked');
                                    }

                                    function ckmao_dChecked(){
                                        var ckmao_d = document.getElementById("ckmao_d");
                                        ckmao_d.setAttribute('value','on');
                                        ckmao_d.setAttribute('checked','checked');
                                    }

                                    function ckpescoco_dChecked(){
                                        var ckpescoco_d = document.getElementById("ckpescoco_d");
                                        ckpescoco_d.setAttribute('value','on');
                                        ckpescoco_d.setAttribute('checked','checked');
                                    }

                                    
                                    //ESQUERDA

                                    function ckcostas_eChecked(){
                                        var ckcostas_e = document.getElementById("ckcostas_e");
                                        ckcostas_e.setAttribute('value','on');
                                        ckcostas_e.setAttribute('checked','checked');
                                    }

                                    function ckpeito_eChecked(){
                                        var ckpeito_e = document.getElementById("ckpeito_e");
                                        ckpeito_e.setAttribute('value','on');
                                        ckpeito_e.setAttribute('checked','checked');
                                    }

                                    function ckbarriga_eChecked(){
                                        var ckbarriga_e = document.getElementById("ckbarriga_e");
                                        ckbarriga_e.setAttribute('value','on');
                                        ckbarriga_e.setAttribute('checked','checked');
                                    }

                                    function ckperna_eChecked(){
                                        var ckperna_e = document.getElementById("ckperna_e");
                                        ckperna_e.setAttribute('value','on');
                                        ckperna_e.setAttribute('checked','checked');
                                    }

                                    function ckpe_eChecked(){
                                        var ckpe_e = document.getElementById("ckpe_e");
                                        ckpe_e.setAttribute('value','on');
                                        ckpe_e.setAttribute('checked','checked');
                                    }

                                    function ckbraco_eChecked(){
                                        var ckbraco_e = document.getElementById("ckbraco_e");
                                        ckbraco_e.setAttribute('value','on');
                                        ckbraco_e.setAttribute('checked','checked');
                                    }

                                    function ckantebraco_eChecked(){
                                        var ckantebraco_e = document.getElementById("ckantebraco_e");
                                        ckantebraco_e.setAttribute('value','on');
                                        ckantebraco_e.setAttribute('checked','checked');
                                    }

                                    function ckmao_eChecked(){
                                        var ckmao_e = document.getElementById("ckmao_e");
                                        ckmao_e.setAttribute('value','on');
                                        ckmao_e.setAttribute('checked','checked');
                                    }

                                    function ckpescoco_eChecked(){
                                        var ckpescoco_e = document.getElementById("ckpescoco_e");
                                        ckpescoco_e.setAttribute('value','on');
                                        ckpescoco_e.setAttribute('checked','checked');
                                    }



                                </script>


                                <%Object.entries(params).forEach(([key, value]) => {%>

                                    <%if(key == 'ckrosto'){%>
                                        <script>ckrostoChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckcostas_d'){%>
                                        <script>ckcostas_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckpeito_d'){%>
                                        <script>ckpeito_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckbarriga_d'){%>
                                        <script>ckbarriga_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckperna_d'){%>
                                        <script>ckperna_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckpe_d'){%>
                                        <script>ckpe_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckbraco_d'){%>
                                        <script>ckbraco_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckantebraco_d'){%>
                                        <script>ckantebraco_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckmao_d'){%>
                                        <script>ckmao_dChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckpescoco_d'){%>
                                        <script>ckpescoco_dChecked();</script>
                                    <%}%>






                                    <%if(key == 'ckcostas_e'){%>
                                        <script>ckcostas_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckpeito_e'){%>
                                        <script>ckpeito_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckbarriga_e'){%>
                                        <script>ckbarriga_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckperna_e'){%>
                                        <script>ckperna_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckpe_e'){%>
                                        <script>ckpe_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckbraco_e'){%>
                                        <script>ckbraco_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckantebraco_e'){%>
                                        <script>ckantebraco_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckmao_e'){%>
                                        <script>ckmao_eChecked();</script>
                                    <%}%>

                                    <%if(key == 'ckpescoco_e'){%>
                                        <script>ckpescoco_eChecked();</script>
                                    <%}%>

                                <%})%>




                <script>
                    $('input[type="checkbox"]').on('change', function(e){
       
                    var loc = location.href;
                    loc = loc.split("?")[0]; // to get the URL till
                    loc+="?";
                    $('input[type="checkbox"]').each(function(i){
                    if(this.checked){
                        loc += "&" + $(this).attr("name") + "=" + $(this).attr("value");
                        }
                    });
                    location.href = loc;
                });

    
                $('input[type="checkbox"]').click(function(){
                if($(this).is(":checked")){
                    //input element where you put value
                    $(this).val("on");

                    var id = $(this).value;
                    console.log(id);

                    
                }
                else if($(this).is(":not(:checked)")){
                    $(this).val("");
                    //  console.log( $("#isClicked").val());
                }
                });

                </script>

              <br>
            <form action="/consultaPersonalizada" method="POST">
                <div>
                    <label for="local_tatuagem">Selecione o local da tatuagem:</label>

                    <select name="local_tatuagem" id="local_tatuagem">
                        <option name="txtrosto" value="txtrosto">Rosto</option>
                        <option name="txtcostas_d" value="txtcostas_d">Costas (Direita)</option>
                        <option name="txtpeito_d" value="txtpeito_d">Peito (Direita)</option>
                        <option name="txtbarriga_d" value="txtbarriga_d">Barriga (Direita)</option>
                        <option name="txtperna_d" value="txtperna_d">Perna (Direita)</option>
                        <option name="txtpe_d" value="txtpe_d">Pé (Direita)</option>
                        <option name="txtbraço_d" value="txtbraço_d">Braço (Direita)</option>
                        <option name="txtantebraco_d" value="txtantebraco_d">Antebraço (Direita)</option>
                        <option name="txtmao_d" value="txtmao_d">Mão (Direita)</option>
                        <option name="txtpescoco_e" value="txtpescoco_e">Pescoço (Direita)</option>
                        <option name="txtcostas_e" value="txtcostas_e">Costas (Esquerda)</option>
                        <option name="txtpeito_e" value="txtpeito_e">Peito (Esquerda)</option>
                        <option name="txtbarriga_e" value="txtbarriga_e">Barriga (Esquerda)</option>
                        <option name="txtperna_e" value="txtperna_e">Perna (Esquerda)</option>
                        <option name="txtpe_e" value="txtpe_e">Pé (Esquerda)</option>
                        <option name="txtbraco_e" value="txtbraco_e">Braço (Esquerda)</option>
                        <option name="txtantebraco_e" value="txtantebraco_e">Antebraço (Esquerda)</option>
                        <option name="txtmao_e" value="txtmao_e">Mão (Esquerda)</option>
                        <option name="txtpescoco_e" value="txtpescoco_e">Pescoço (Esquerda)</option>
                    </select>
                    <input required id="descricaoTatuagem" name="descricaoTatuagem" placeholder="descrição tatuagem" type="text">
                    <button>Buscar</button>
                </div>
            </form>
            
        <%if(suspeito.length > 0){%>
            <%for(var i = 0; suspeito.length > i; i++){%>
                <div id="divMeio" class="suspeito"  
                    id="suspeito_"<%=suspeito[i].id%>>
                    <form id=<%="pdf"+suspeito[i].id%> action=<%="/gerarpdf?id="+suspeito[i].id%> method="POST"></form>
                    <form id=<%="edita"+suspeito[i].id%> action=<%="/edita?id="+suspeito[i].id%> method="POST">
 
                                        
                    <div id="divPrincipal">

                        <div id="divImagem">
                            <img src=<%="images/"+suspeito[i].foto_principal+'.png'%>>
                        </div>
                        
                        <div id="divCadastro">
                            <label id="nome_"<%=suspeito[i].nome%>>Nome:  <%=suspeito[i].nome%></label>
                        </div>

                        <div id="divCadastro">
                            <label id="cpf"<%=suspeito[i].cpf%>>CPF:  <%=suspeito[i].cpf%></label>
                        </div>

                        <div id="divCadastro">
                            <label id="dt_nascimento"<%=suspeito[i].cpf%>>DATA NASCIMENTO: <%=suspeito[i].dt_nascimento%></label>
                        </div>

                        <div id="divCadastro">
                            <label id="cpf"<%=suspeito[i].apelido%>>APELIDO:  <%=suspeito[i].apelido%></label>
                        </div>


                        <div id="divButtonsPrincipal">
                            <div id="divButtons">
                                <button class="button-pdf" form=<%="pdf"+suspeito[i].id%>></button>
                            </div>
    
                            <div id="divButtons">
                                <button class="button-pencil" form=<%="edita"+suspeito[i].id%> type="submit"></button>
                            </div>
    
                            <div id="divButtons">
                                <button class="button-trash" form=<%="deleta"+suspeito[i].id%>></button>
                            </div>
                        </div>


                    </div>

                                            
  
                    </form>
                </div>
            <%}%>
        <%}%>

        <script>
            function gerarPDF(){
                $.post()
            }
        </script>
    </body>
</HTML>